:host {
    display: flex;
    border-style: solid;
    margin: 10%;
    .get-more-details {
        font-size: xx-large;
        color: red;
    }
    .main-details {
        display: grid;
        font-size: x-large;
        .main-temp {
            display: flex;
        }
        img {
            display: flex;
        }
        * {
            padding-bottom: 4%;
        }
    }
    .today {
        width: 100%;
    }
    * {
        margin: auto;
    }
}