<div class="container">
    <div class="main-details">
        <h1 class="temp">{{forecastDetails.main.temp}}°C</h1>
        <img src="http://openweathermap.org/img/wn/{{forecastDetails.weather[0].icon}}.png">
        <h2 class="description">{{forecastDetails.weather[0].description}}</h2>
    </div>
    <div class="more-info">
        <div class="temp-range">
            <h3>From: {{forecastDetails.main.temp_min}}°C</h3>
            <h3>To: {{forecastDetails.main.temp_max}}°C</h3>
        </div>
        <div class="small-details">
            <p>Wind speed: {{forecastDetails.wind.speed}}KmH ({{forecastDetails.wind.deg}})°</p>
            <p>Sea Level: {{forecastDetails.main.sea_level}}</p>
            <p>Pressure: {{forecastDetails.main.pressure}}</p>
            <p>Grnd level: {{forecastDetails.main.grnd_level}}</p>
        </div>
    </div>

</div>