<div class="container">
    <form [formGroup]="formSignup" (submit)="submit()">

        <input type="email" formControlName="email" id="email" placeholder="Enter your email" />
        <span *ngIf="email.invalid">
        <label *ngIf="email.hasError('email')" [ngClass]="email.hasError('email')?'invalid-input':'' ">
            Enter a valid email address
        </label>
        <label *ngIf="email.hasError('required') && email.touched" [ngClass]="email.hasError('required')?'invalid-input':'' ">
            Email is required
        </label>
        <label *ngIf="email.hasError('maxlength')" [ngClass]="email.hasError('maxLength')?'invalid-input':'' ">
            Max length of Email is 80
        </label>
        <label *ngIf="email.hasError('fromUntisEmail')" [ngClass]="email.hasError('fromUntisEmail')?'invalid-input':'' ">
            Email should end with ...@pseu.edu
        </label>
    </span>

        <input type="password" formControlName="password" placeholder="password" required>
        <span *ngIf="password.touched">
    <label [ngClass]="password.hasError('required') ? 'invalid-input' : 'valid-input'">
        password is required
    </label>

    <label [ngClass]="!password.hasError('required') &&  (!password.hasError('minlength') && !password.hasError('maxlength'))? 'valid-input' : 'invalid-input' ">
        password must has at least 6 characters and at most 80 characters
    </label>

    <label [ngClass]="password.hasError('required') || password.hasError('hasNumber')? 'invalid-input' : 'valid-input'">
        password must has at least 1 number degit
    </label>

    <label [ngClass]="password.hasError('required') || password.hasError('hasCapitalCase')? 'invalid-input' : 'valid-input'">
        password must has at least 1 CAPITAL case character
    </label>

    <label [ngClass]="password.hasError('required') || password.hasError('hasSmallCase')? 'invalid-input' : 'valid-input'">
        password must has at least 1 small case character
    </label>

    <label [ngClass]="password.hasError('required') || password.hasError('hasSpecialCharchters')? 'invalid-input' : 'valid-input'">
        password must has at least 1 special character
    </label>

</span>
        <!-- -->
        <button type="submit" [disabled]="(email.invalid && password.invalid)">Submit</button>
    </form>
</div>